/* Universal margin class */
.universal-margin {
  padding: 20px;
  max-width: 1300px;
  margin: 0 auto;
}

/* Other existing styles */
:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

/* Menu section colors */
.combo-section {
  background-color: #edc951; /* Color: (237,201,81) */
}

.trop-section {
  background-color: #eb6841; /* Color: (235,104,65) */
}

.hot-section {
  background-color: #cc2a36; /* Color: (204,42,54) */
}

.drink-section {
  background-color: #b2a3df; /* Color: (79,55,45) */
}

.snack-section {
  background-color: #00a0b0; /* Color: (0,160,176) */
}

.combo-card-list {
  background-color: #edc951;
}

.tropical-snow-list {
  background-color: #eb6841; /* Color: (235,104,65) */
}

.hotdogs-section {
  background-color: #cc2a36; /* Color: (204,42,54) */
}

.drinks-section {
  background-color: #b2a3df; /* Color: (79,55,45) */
}

.snacks-section {
  background-color: #00a0b0; /* Color: (0,160,176) */
}

.combo-flavors-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.combo-flavor-card {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 200px;
  text-align: center;
}

.tropical-snow-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.shaved-ice-card {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 200px;
  text-align: center;
}

.combo-flavors-list {
  width: 80%; /* Adjust the width as needed */
  margin: 20px 0;
}

.hotdog-card {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 200px;
  text-align: center;
}

.drink-card {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 200px;
  text-align: center;
}

.snack-card {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 200px;
  text-align: center;
}

.contact-container {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.contact-form {
  margin-top: 20px;
}

.contact-form form div {
  margin-bottom: 15px;
}

.contact-form form label {
  display: block;
  margin-bottom: 5px;
}

.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.contact-form form button {
  padding: 10px 15px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
}

.contact-form form button:hover {
  background-color: #218838;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(0, 160, 176);
}

.navigation li {
  display: inline-block;
  margin: 10px 20px;
  font-size: 28px;
  cursor: pointer;
  flex-wrap: wrap;
}

.m-navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(235, 104, 65);
}

.m-navigation li {
  display: inline-block;
  margin: 10px 20px;
  font-size: 27px;
  cursor: pointer;
  flex-wrap: wrap;
}

.about-container {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  /* background: rgb(255, 255, 255); */
}

.about-header {
  text-align: center;
  margin-bottom: 20px;
}

.about-sections {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.about-box {
  background-color: white;
  border: 2px solid black;
  border-radius: 8px;
  padding: 20px;
  max-width: 300px;
}

.about-box h1 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.about-box p {
  font-size: 1em;
  line-height: 1.5;
}

.menu-word {
  text-align: center;
  font-size: 30px;
}

.combo-word {
  text-align: center;
  margin-bottom: 10px;
  font-size: 30px;
}

.trop-word {
  text-align: center;
  margin-bottom: 10px;
  font-size: 30px;
}

.hot-word {
  text-align: center;
  margin-bottom: 10px;
  font-size: 30px;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Add spacing between each section */
}

.hotdog-card {
  border: 2px solid lightgrey;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 30px 20px 40px; /* Add more left margin */
  text-align: center;
  width: 300px; /* Set a fixed width */
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  box-sizing: border-box;
}

.drink-card {
  border: 2px solid lightgrey;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 30px 20px 40px; /* Add more left margin */
  text-align: center;
  width: 300px; /* Set a fixed width */
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  box-sizing: border-box;
}

.snack-card {
  border: 2px solid lightgrey;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 30px 20px 40px; /* Add more left margin */
  text-align: center;
  width: 300px; /* Set a fixed width */
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  box-sizing: border-box;
}

.combo-flavor-card {
  border: 2px solid lightgrey;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 30px 20px 40px; /* Add more left margin */
  text-align: center;
  width: 300px; /* Set a fixed width */
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  box-sizing: border-box;
}

.shaved-ice-card {
  border: 2px solid lightgrey;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 30px 20px 40px; /* Add more left margin */
  text-align: center;
  width: 300px; /* Set a fixed width */
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  box-sizing: border-box;
}

.hot-title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 19px;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.combo-flavors-list {
  width: 80%; /* Adjust the width as needed */
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-word {
  text-align: center;
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
}

.menu-section {
  width: 80%; /* Adjust the width as needed */
  margin: 20px 0;
}

.hot-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.tropical-snow-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tropical-snow-list {
  width: 80%; /* Adjust the width as needed */
  margin: 20px 0;
}

.logo {
  height: 300px;
  vertical-align: middle;
}

.welcomePageDiv {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcomePageHeader {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.welcomePageSectionDivs {
  margin: 10px 0;
}

.welcomePageSections {
  font-size: 1.2rem;
  margin: 0;
}

.combo-flavors-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-word {
  text-align: center;
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 20px 0;
}

.combo-flavor-card {
  border: 2px solid lightgrey;
  border-radius: 10px;
  padding: 20px;
  margin: 10px; /* Uniform margin */
  text-align: center;
  flex: 1 1 calc(33.333% - 2rem); /* Adjust width for 3 cards per row */
  max-width: calc(33.333% - 2rem);
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  box-sizing: border-box;
}

/* Other card styles */
.hotdog-card,
.drink-card,
.snack-card,
.shaved-ice-card {
  border: 2px solid lightgrey;
  border-radius: 10px;
  padding: 20px;
  margin: 10px; /* Uniform margin */
  text-align: center;
  flex: 1 1 calc(33.333% - 2rem); /* Adjust width for 3 cards per row */
  max-width: calc(33.333% - 2rem);
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  box-sizing: border-box;
}

.homeImage {
  height: 600px;
  vertical-align: middle;
}

.button {
  color: #fff;
}

.logoutButton {
  color: rgb(204, 42, 54);
}

.loginButton {
  color: rgb(48, 201, 58);
}

.edit-button {
  background-color: #5ce1e6;
  margin-top: 8px;
}

.delete-button {
  background-color: #ff6666;
  margin-top: 8px;
}

.edit-button:hover {
  background-color: darkcyan;
}

.delete-button:hover {
  background-color: #c0392b;
}
